<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>76992750012-v3r3jlam6tsmra8r3u3395hm7tdajpf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76992750012-v3r3jlam6tsmra8r3u3395hm7tdajpf3</string>
	<key>API_KEY</key>
	<string>AIzaSyBEVTjFElEFY8XqD3P6X31rYnV3TNDwaWc</string>
	<key>GCM_SENDER_ID</key>
	<string>76992750012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crorg.GeoCalculator</string>
	<key>PROJECT_ID</key>
	<string>geocalculatorios</string>
	<key>STORAGE_BUCKET</key>
	<string>geocalculatorios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76992750012:ios:0d6ae6864215296e</string>
	<key>DATABASE_URL</key>
	<string>https://geocalculatorios.firebaseio.com</string>
</dict>
</plist>