<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeoCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>032A3CB61F70769A00CD55CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032A3CCA1F70769A00CD55CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>032A3CD51F70769A00CD55CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
